{% extends 'base.html.twig' %}

{% block title %}ProjectTag{% endblock %}

{% block body %}
    <h1>ProjectTag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_tag.id }}</td>
            </tr>
            <tr>
                <th>Main</th>
                <td>{{ project_tag.main ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_tag_index') }}">back to list</a>

    <a href="{{ path('app_project_tag_edit', {'id': project_tag.id}) }}">edit</a>

    {{ include('project_tag/_delete_form.html.twig') }}
{% endblock %}
